@font-face {
  font-family: 'icons';
  src: url('icons/icons.eot?465jlr');
  src: url('icons/icons.eot?465jlr#iefix') format('embedded-opentype'),
    url('icons/icons.ttf?465jlr') format('truetype'),
    url('icons/icons.woff?465jlr') format('woff'),
    url('icons/icons.svg?465jlr#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-adobeillustrator:before {
  content: "\e900";
  color: #ff7c00;
}

.icon-adobephotoshop:before {
  content: "\e901";
  color: #00c8ff;
}

.icon-amazonaws:before {
  content: "\e902";
}

.icon-angular:before {
  content: "\e903";
  color: #dd0031;
}

.icon-apachecordova:before {
  content: "\e904";
  color: #e8e8e8;
}

.icon-babel:before {
  content: "\e906";
  color: #f9dc3e;
}

.icon-bootstrap:before {
  content: "\e907";
  color: #563d7c;
}

.icon-css3:before {
  content: "\e908";
  color: #1572b6;
}

.icon-facebook:before {
  content: "\e90a";
  color: #1877f2;
}

.icon-git:before {
  content: "\e90b";
  color: #f05032;
}

.icon-github:before {
  content: "\e90c";
}

.icon-gitlab:before {
  content: "\e90d";
  color: #fca121;
}

.icon-graphql:before {
  content: "\e909";
  color: #e10098;
}

.icon-gulp:before {
  content: "\e90e";
  color: #da4648;
}

.icon-html5:before {
  content: "\e90f";
  color: #e34f26;
}

.icon-ionic:before {
  content: "\e905";
  color: #3880ff;
}

.icon-javascript:before {
  content: "\e910";
  color: #f7df1e;
}

.icon-jest:before {
  content: "\e911";
  color: #c21325;
}

.icon-linkedin:before {
  content: "\e912";
  color: #0077b5;
}

.icon-mongodb:before {
  content: "\e925";
  color: #47a248;
}

.icon-mysql:before {
  content: "\e913";
  color: #4479a1;
}

.icon-nginx:before {
  content: "\e914";
  color: #269539;
}

.icon-node-dot-js:before {
  content: "\e915";
  color: #393;
}

.icon-npm:before {
  content: "\e916";
  color: #cb3837;
}

.icon-postgresql:before {
  content: "\e917";
  color: #336791;
}

.icon-postman:before {
  content: "\e918";
  color: #ff6c37;
}

.icon-prettier:before {
  content: "\e919";
  color: #f7b93e;
}

.icon-react:before {
  content: "\e91a";
  color: #61dafb;
}

.icon-sketch:before {
  content: "\e91b";
  color: #f7b500;
}

.icon-sublimetext:before {
  content: "\e91c";
  color: #ff9800;
}

.icon-swift:before {
  content: "\e91d";
  color: #fa7343;
}

.icon-twitter:before {
  content: "\e91e";
  color: #1da1f2;
}

.icon-typescript:before {
  content: "\e91f";
  color: #007acc;
}

.icon-visualstudiocode:before {
  content: "\e920";
  color: #007acc;
}

.icon-vue-dot-js:before {
  content: "\e921";
  color: #4fc08d;
}

.icon-webpack:before {
  content: "\e922";
  color: #8dd6f9;
}

.icon-webstorm:before {
  content: "\e923";
}

.icon-wordpress:before {
  content: "\e924";
  color: #21759b;
}
